@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "root";
.fgpg {
    &__nofn {
        color: red;
        font-size: x-small;
    }
    @media screen and( max-width: 100px) {
        font-size: large;
    }
    @media screen and( max-width: 1100px) {
        font-size: large;
    }
}

.jgpjsbvi {
    @media screen and( max-width: 1100px) {
        font-size: large;
    }
}